.content{
    display: flex;
   
    
    position: relative;
    font-size: 13px;
    height: 500px;
}
.content::after{
    content: " ";
    background-image: url(bb.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    opacity: 1;
    background-repeat: no-repeat;
    position: absolute;
    height: inherit;
  
    
}
#blogabout{
    padding: 40px;
 
}
.blog-content{
    font-size: 18px;
    font-family: sans-serif;
}
.home-articles{
   display: flex;
   flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align: center;
   
}
.home-article-content{
     font-size: 12px
}
.dabba{
    display: flex;
    justify-content:center;
    align-items:cenetr;
}